* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E7E7;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.estrelas {
    z-index: 1;
    position: absolute;
    display: flex;
}

.estrelas span {
    width: 20px;
    height: 20px;
    background: #F0F8FF;
    position: relative;
    clip-path: polygon(50% 0%, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0% 50%, 35% 35%);
    animation: animar calc(190s / var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.cabecalho {
    z-index: 2;
    background-color: #F0F8FF;
    position: absolute;
    width: 221vh;
    height: 6vh;
    border-radius: 0 0 10px 10px;
    border: inset #D9D9D9 1px;
}

nav {
    z-index: 3;
    height: 6%;
    width: auto;
    border-radius: 4px;
    position: absolute;
    left: 0.5%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    align-items: center;
    list-style-type: none;
}

li {
    padding: 10px 20px;
    margin-left: 0;
}

.retangulo1{
    z-index: 4;
    position: absolute;
    width: 149vh;
    height: 119vh;
    top: 15vh;
    left: 57vh;
    background-color: #FFB2AA;
}

.retangulo2{
    z-index: 5;
    position: absolute;
    width: 100vh;
    height: 50vh;
    top: 100vh;
    left: 141.8vh;
    background-color: #F9E7E7;
}

.retanguloBranco{
    z-index: 5;
    position: absolute;
    width: 46vh;
    height: 60vh;
    top: 30vh;
    left: 24vh;
    background-color: #F0F8FF;
}

.retangulo4{
    z-index: 6;
    position: absolute;
    width: 39.3vh;
    height: 53vh;
    top: 33.5vh;
    left: 27.3vh;
    background-color: #FFB2AA;

}

.LinhaPontilhada{
    z-index: 5;
    position: absolute;
    width: 131vh;
    height: 0.8vh;
    top: 49vh;
    border-top: 5px dashed #000;
}

.Linha{
    z-index: 5;
    position: absolute;
    width: 113vh;
    height: 0.8vh;
    top: 70vh;
    background-color: #000;
    border: 3px solid #000;
}

.LinhaVertical{
    z-index: 5;
    position: absolute;
    width: 0.4vh;
    height: 122.2vh;
    top: 23vh;
    left: 32.9vh;
    background-color: #000;
    border: 3px solid #000;
}

.QuadradoLateral{
    z-index: 7;
    position: absolute;
    width: 80vh;
    height: 53vh;
    top: 101.7vh;
    left: 143.6vh;
    background-color: #FFB2AA;   
}

.LinhaParede{
    z-index: 5;
    position: absolute;
    width: 33.6vh;
    height: 0.8vh;
    top: 145vh;
    background-color: #000;
    border: 3px solid #000;
}

.CirculoCheio{
    z-index: 7;
    position: absolute;
    height: 15vh;
    width: 15vh;
    top: 95vh;
    left: 210.7vh;
    border-radius: 90vh;
    background-color: #000;
}

.CirculoAberto{
    z-index: 7;
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 87.4vh;
    left: 203.2vh;
    border-radius: 90vh;
    border: 3px solid #000;
    background-color: transparent #000;
}

.QuadradoDireito{
    z-index: 4;
    position: absolute;
    width: 7.5vh;
    height: 45vh;
    top: 59vh;
    left: -1vh;
    background-color: #FFB2AA; 
}
